p
{
    background-color: grey;
	color: red;
	font-family: Times New Roman;
	font-size: 22pt;
}
p.altColor
{
	background-color: grey;
	color: navy;
	font-family: Times New Roman;
	font-size: 22pt;
}
p.alt2
{
	background-color: black;
	color: red;
	font-family: Times New Roman;
	font-size: 16pt;
}
a
{
	background-color: yellow;
	color: red;
}
a:hover
{
	background-color: red;
	color: yellow;
}
body
{
	background-image: url(images/American-Flag-10.gif);
	background-size: 100%;
	background-repeat: no_repeat;
	background-attachment: fixed;
	
}